/* Framework IROHA V4.0 */
/* 框架通用样式 */

@font-face {
    font-family: "Material Icons";
    src: url("../font/material-icons.woff2") format("woff2");
}

* { outline: none; }
body { font-family: Microsoft YaHei, "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
::selection{ background:#b3d4fc; text-shadow:none }

/* 全局变量 */
@media(min-width:651px){
    :root {
        --HeaderHeight: 200px;
        --MainBorderRadius: 20px;
        --MainVerticalMargin: 40px;
        --MainMaxWidth_PC: 800px;
        --MainWidthPercent_PC: 65%;
        --NavbarHeight: 40px;
        --MikumarkHorizontalPadding: 50px;
        --MikumarkBottomPadding: 30px;
    }
}
@media(max-width:650px){
    :root {
        --HeaderHeight: 150px;
        --MainBorderRadius: 0px;
        --MainVerticalMargin: 0px;
        --NavbarHeight: 40px;
        --MikumarkHorizontalPadding: 15px;
        --MikumarkBottomPadding: 30px;
    }
}

/* 通用样式 */

.Main {
    background: #fff;
}
@media(min-width:651px){
    .Main {
        width: var(--MainWidthPercent_PC);
        max-width: var(--MainMaxWidth_PC);
        margin: var(--MainVerticalMargin) auto;
        border-radius: var(--MainBorderRadius);
        /* box-shadow: 0 0px #e5e5e5, 0 0 15px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.05); */
    }
}
@media(max-width:650px){
    .Main {
        width: 100%;
        margin: 0;
    }
}

.Header {
    position: relative;
    text-align: center;
    /* height: var(--HeaderHeight); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.Navbar {
    position: sticky;
    top: 0;
    height: var(--NavbarHeight);
    /* background: #f7f8fa; */
    /* border-radius: 100px; */

    background: #ffffff;
    border-bottom: 0.5px solid #eee;

    text-align: center;
    z-index: 1001;
}
.Footer {
    padding: 20px 0;
}


/* 左右边栏 */
.LeftAside { position: fixed; height: 100%; z-index: 99999;}
.RightAside { position: fixed; height: 100%; z-index: 99999;}

/* 按钮组件 */
.SideButton { border: none; cursor: pointer; }
.Flat { background-color: #fff; }
.Flat:hover { background-color: #eee; }
.Flat:active { background-color: #ccc; }
.Raised { background-color: #fff; box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1); }
.Raised:hover, .Raised:active { box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149); }
.Square { height: 30px; line-height: 30px; padding: 3px 10px; }
.Round { width: 40px; height: 40px; border-radius: 40px; line-height: 40px; }


/* 导航按钮组件 */
.NavbarItem { position: relative; height: var(--NavbarHeight); min-width: 60px; font-size: 14px; line-height: var(--NavbarHeight); padding: auto 15px; border: none; background-color: transparent; align-items: center;}
.NavbarItem:hover { color: #1ea0f0; }
.NavbarItem[active="true"] { color: #1ea0f0; }
.NavbarItem[active="true"]:after { content: "."; display: block; position: absolute; left: 0; top: 0; width: 100%; color: rgba(0,0,0,0); box-shadow: inset 0 -3px #1ea0f0; animation: NavbarItemActiveAnimation 0.3s cubic-bezier(0.4, 0, 0.4, 1) 0s;}
@keyframes NavbarItemActiveAnimation { 0% { opacity: 0; width: 0; } to { opacity: 1; width: 100%; }}
.InMenu { display: none; top: var(--NavbarHeight); }


/* 底部版权栏-渐变文字 */
.RBGradient { font-family: Verdana, Arial, sans-serif, Tahoma, "宋体", Microsoft YaHei; width: fit-content; width: -moz-fit-content; width: -webkit-fit-content; margin: 0 auto; font-weight: bold; background: linear-gradient(to right, rgb(255, 94, 134), rgb(210, 162, 255), rgb(36, 200, 255)); -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; }

/* 首屏加载遮罩 */
.FirstLoadingMask { position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: 20px; color: #888; text-align: center; backdrop-filter: blur(10px); background-color: rgba(255,255,255,0.5); z-index: 99999; }
.ThrobberContainer { position: absolute; top: 50%; width: 100%; }

/* 页面加载动效（骨架屏） */
.SkeletonPlaceholder { display: inline-block; background-color: #e0e0e0; color: rgba(0,0,0,0); border-radius: 3px; animation: SkeletonPlaceholderBlink 1s infinite; }
@keyframes SkeletonPlaceholderBlink { 0% { opacity: 0.3; } 12% { opacity: 0.45; } 25% { opacity: 0.65; } 37% { opacity: 0.85; } 50% { opacity: 1.0; } 62% { opacity: 0.85; } 75% { opacity: 0.65; } 82% { opacity: 0.45; } 100% { opacity: 0.3; } }
@media(min-width:651px){ .SkeletonPlaceholder { height: 18px; line-height: 18px; margin: 7px 0 7px 0; } }
@media(max-width:650px){ .SkeletonPlaceholder { height: 15px; line-height: 20px; margin: 7px 0; } }


/* 图片加载动效 */
.loading { position: relative; width: 100%; height: 0px; margin: 0 auto; text-align: center; }
.loading .dot { width: 10px; height: 10px; margin: 5px; background-color: #aaaaaa; border-radius: 100%; display: inline-block; animation: slide 1s infinite; }
.loading .dot:nth-child(1) { animation-delay: 0.1s; background-color: #faaacc; }
.loading .dot:nth-child(2) { animation-delay: 0.2s; background-color: #c8aacc; }
.loading .dot:nth-child(3) { animation-delay: 0.3s; background-color: #96aacc; }
.loading .dot:nth-child(4) { animation-delay: 0.4s; background-color: #acd0ff; }
.loading .dot:nth-child(5) { animation-delay: 0.5s; background-color: #88cfff; }
@keyframes slide { 0% { transform: scale(1); } 50% { opacity: 0.3; transform: scale(2); } 100% { transform: scale(1); } }

/* 进度条 */
.Progressbar { position: fixed; top: 0; left: 0; display: block; height: 3px; width: 5%; background: linear-gradient(to right, #88f1ff, #66ccff); z-index: 99999; }

/****************************************/
/*  首 页 样 式 */
/****************************************/

.IndexItemContainer { margin: 5px 0 5px 0; text-align: center; border: none; line-height: 35px; font-size: 15px; color: #555555; }
.IndexItemContainer:after { content:''; display: block; height: 1px; margin-top: 5px; border: none; background: linear-gradient(90deg, #e8e8e8, #fff); }
@media(min-width:651px) { /* Desktop */.IndexItemContainer:after { margin-left: 50px; }}
@media(max-width:650px) { /* Mobile */.IndexItemContainer:after { margin-left: 25px; }}
@media(min-width:651px) { /* Desktop */.IndexItemPaddingBox { margin: 0; padding: 8px 50px 8px 50px; background: transparent; }}
@media(max-width:650px) { /* Mobile */.IndexItemPaddingBox { margin: 0; padding:8px 25px 8px 25px; background: transparent; }}
.IndexItemTitle { font-size: 17px; line-height: 30px; text-align: left; font-weight: bold; color: #566666; vertical-align: middle; text-shadow: none; }
@media(min-width:651px) { /* Desktop */ .IndexItemTitle::before { content:attr(data-prefix); line-height: inherit; margin-right: 10px; padding-right: 10px; font-size: smaller; border-right: 5px solid rgba(0,0,0,0.1); color: #1ea0f0; font-weight: bold; }}
@media(max-width:650px) { /* Mobile */ .IndexItemTitle::before { display: none; }}
.IndexItemTitleLink { letter-spacing: 1px; color:#555555; text-decoration:none; cursor: pointer; }
.IndexItemTitleLink:hover { color:#aaaaaa; text-decoration:none; }
.IndexItemTitleTag { display: inline-block; font-weight: normal; background-color: none; color: #93e76c; border: 1px solid #93e76c; border-radius: 5px; font-size: 9px; line-height: 15px; padding: 1px 3px; margin-left: 5px; vertical-align: middle; }
.IndexItemSummary { color: #bbb; text-align: left; padding: 7px 0 3px 0; font-size: 13px; display: block; line-height: 23px; overflow-x: auto; }
.IndexItemTable { display: table; border-collapse: separate; border: none; border-spacing: 0; width: 100%; }
.IndexItemTableLeft { padding-right: 10px; }
.IndexItemTableRight { width: 50px; }
.IndexBottomLink { line-height: 40px; padding: 5px 0 10px 0; display: block; color: #8f8f8f; font-weight: bold; font-size: 16px; text-decoration: none; text-align: center; letter-spacing: 1px; cursor: pointer; }
.IndexBottomLink:hover { text-decoration: none; background-color: #fefefe; color:#40bfff; }

/****************************************/
/*  灵 感 样 式 */
/****************************************/

/* 灵感目录 */
/* .InspirationMenu { position: fixed; left: 0; top: 0; width: 360px; height: 100%; background-color: #fff; text-align: left; font-size: 14px; color: #80868b; border-right: 1px solid #eeeeee; overflow: auto; z-index: 9999;} */
/* .InspirationMenuToggle { font-family: "Material Icons"; width: 40px; height: 40px; position: fixed; top: 20px; left: 20px; text-align: center; font-size: 20px; z-index: 10000; cursor: pointer;} */
/* .InspirationMenuTitleContainer { position: sticky; top: 0px; color: #696a6b; background-color: #fff; box-shadow: 0 0 5px #ccc; z-index: 9999;} */
.InspirationMenuTitle { font-size: 22px; line-height: 80px; height: 80px; padding-left: 78px;}
#InspirationMenuTags { margin: 15px 0 25px 0; padding-left: 30px; padding-right: 20px; }
.InspirationMenuTagItem { display: inline-block; background-color: #e1f5ff; color: #009be9; border: none; border-radius: 5px; font-size: 12px; padding: 2px 6px 2px 6px; margin: 3px; word-break: break-all; word-wrap: break-word; cursor: pointer;}
.InspirationMenuTagItem:hover, .InspirationMenuTagItem_active { color: #ff6893; background-color: #ffdfe8;}
.InspirationMenuTagItem_clear { background-color: #eeeeee; color: #a0a0a0;}
#InspirationMenuList { margin-top: 0; margin-bottom: 30px;}
.InspirationMenuItem { display: block; height: 40px; line-height: 40px; padding-left: 30px; cursor: pointer;}
.InspirationMenuItem:before { content: "❖"; padding-right: 10px;}
.InspirationMenuItem:hover, .InspirationMenuItem_active { color: #1a73e8; background: #e8f0fe; /*border-radius: 0 24px 24px 0;*/}
.InspirationMenuItemHrline { position: relative; margin: 18px 0 18px 0; border-bottom: 1px solid #dadce0; font-size: 13px; color: #1a73e8;}
/* 灵感页框架 */
.InspirationContainer { background: none; width: 100%; height: 100%;}
.InspirationEnding { text-align: center; font-size: 12px; letter-spacing: 2px; color: #bbbbbb; padding: 20px 0;}
/* Poster 样式 */
.Poster { margin: 0; padding: 10px 10px 10px 10px; border-bottom: 1px solid #e0e0e0; border-radius: 0; color: #666666; background-color: #ffffff; text-align: left; opacity:0.0;}
@media(min-width:651px){ /* Desktop */.Poster { padding: 20px 40px 20px 40px;}}
.PosterTitle { display: block; width: fit-content; margin:3px 20px 0px 60px; padding:0; border-bottom: 1px solid #dddddd; color:#000; line-height: 27px; font-size:17px; letter-spacing: 1px;}
.PosterSubtitle { display: block; text-align: left; margin:0px 20px 8px 60px; padding:0; line-height: 22px; color:#aaaaaa; font-size:13px;}
.PosterAvater { float:left; position:relative; top:7px; left:6px; margin:0; padding:0; border-radius:50%; border: 0.5px solid #eeeeee; width:40px; height:40px;}
.Poster blockquote { font-size: 13px; line-height: 21px; color:#888888; margin:10px 10px 10px 10px; padding: 8px 10px; border: 1px solid #9ee0f8; border-radius: 5px; box-shadow: #c0ebfb 0 0 5px 0;}
.PosterParagraph { margin: 10px 5px 10px 6px; padding: 0; color: #333; font-size: 14px; line-height: 23px; display: block; text-indent: 0;}
.PosterLink { color: #558bc4; text-decoration: none; cursor: pointer;}
.PosterLink:hover { color: #0066dd; text-decoration: none;}
.PosterTag { color: #00aaff; font-weight: bold;}

/****************************************/
/*  列 表 样 式 */
/****************************************/

.ListCategoryBlock { text-align: left; margin: 23px 0 30px 0; color: #222222; font-size: 15px; line-height: 17px; width: 100%; }
.ListCategoryBlockTitle { color: #66bbdd; margin: 10px 0 15px 0; padding-left: 20px; height: 38px; line-height: 38px; font-size: 18px; /*border-left: 8px solid #dddddd;*/ letter-spacing: 1px; font-weight: normal; background: linear-gradient(90deg, #f0faff, #fff); }
@media(min-width:651px){ /*Desktop*/.ListCategoryBlockTitle { padding-left: 50px; /*border-left: 18px solid #f0f0f0;*/ }}
.ListCategoryBlockTitle .ListCategoryBlockTitle_en { color: #bccccc; font-size: 12px; }
.ListItem { transition: background-color 0.2s ease-out 0s; vertical-align: text-top; padding: 9px 0; margin: 0px 20px; line-height: 19px; background-color: #ffffff; text-align: left; border-bottom: 1px dotted #eee; }
@media(min-width:651px){ /* Desktop */.ListItem { margin: 0px 50px; }}
.ListItemNumber { position: relative; text-align: center; font-size: inherit; margin-right: 1px; padding: 0px 5px 0px 3px; vertical-align: top;}
.ListItemTag { line-height: inherit; background-color: #ffeaf0; color: #ff88a9; border: none; border-radius: 10px; font-size: 9px; padding: 1px 4px 1px 4px; margin-left: 5px; vertical-align: text-bottom; word-break: break-all; word-wrap: break-word; }
.ListItemDate { font-size: 12px; line-height: inherit; text-align: right; margin: 0 0 0 auto; float: right; color: #888888; }
.ListItemLink { color: #333333; text-decoration: none; cursor: pointer; }
.ListItemLink:hover { color: #333333; text-decoration: underline; }
.ListSortingOptionContainer { width: fit-content; border-radius: 100px; background-color: #f0f0f0; color: #666; margin: 20px auto; border: 5px solid #f0f0f0; }
.ListSortingOption { display: inline-block;font-size: 13px;padding: 5px 8px;border-radius: 100px;cursor: pointer; }
.ListSortingOptionSelected { background-color: #fff; box-shadow: 0 1px 2px 0 rgba(60,60,60,0.1), 0 1px 3px 1px rgba(60,60,60,0.1); }
.ListEnding { text-align: center; font-size: 12px; color: #cccccc; margin: 20px auto 20px auto; }

/***** 文章列表样式 *****/

.ArticleItem {
    margin: 15px 0;
}
.ArticleItem::after {
    display: block;
    content: "";
    height: 1px;
    background: linear-gradient(90deg, #fff, #eee, #fff);
    margin-top: 15px;
}
.ArticleTitle {
    margin-bottom: 3px;
    text-align: center;
}
.ArticleTitleLink {
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.ArticleTitleLink:hover {
    color: #1ea0f0;
    /* text-decoration: underline; */
}
.ArticleInfo {
    color: #ccc;
    font-size: 10px;
    text-align: center;
}
.ArticleTag {
    line-height: inherit;
    background-color: #ffeaf0;
    color: #ff88a9;
    border: none;
    border-radius: 10px;
    padding: 1px 4px 1px 4px;
    margin-left: 5px;
}
.ArticleCover {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    width: 250px;
    filter: opacity(0.9);
}

/***** 日期方框样式 *****/

.TimelineContainer { margin: 25px 0; text-align: center; overflow-x: auto; overflow-y: hidden; }
.Timeline { margin: 0 auto; border-collapse: collapse; border-spacing: 0px; }
.Timeline td { padding: 0; }
.Day { box-sizing: border-box; margin: 3px 1.5px; width: 12px; height: 12px; background-color: #eee; border-radius: 2px; }

.Blank, .Blank:hover { background-color: transparent; }
.Firstday { background-color: #ddd; }

.L1 { background-color: #c6e48b; cursor: pointer; }
.L2 { background-color: #7bc96f; cursor: pointer; }
.L3 { background-color: #239a3b; cursor: pointer; }
.L4 { background-color: #196127; cursor: pointer; }
.L1:hover { transform: scale(1.2); }
.L2:hover { transform: scale(1.2); }
.L3:hover { transform: scale(1.2); }
.L4:hover { transform: scale(1.2); }

.Weektag { margin: 2px 3px; height: 13px; font-size: 10px; text-align: right; color: #ccc; transform: scale(0.8); }
.WeekCount { margin: 2px; width: 12px; line-height: 12px; font-size: 10px; text-align: center; color: #ddd; transform: scale(0.7); }


/****************************************/
/*  Mikumark 文 章 页 和 目 录 样 式 */
/****************************************/

/* 文章标题 */
.MikumarkArticleTitle { color: #222; font-size: 24px; text-align: center; letter-spacing: 1px; font-weight: bold; margin: 50px 10px; }

/* MD正文容器 */
.MikumarkContainer { text-align:left; background-color:#ffffff; padding: 0 var(--MikumarkHorizontalPadding) var(--MikumarkBottomPadding) var(--MikumarkHorizontalPadding);}

/* 元数据字段 */
.MikumarkMetadata { text-align: center; font-size: 13px; color: #bbbbbb; margin: 30px 0; }

/* 仅移动端：顶部标题栏 */
@media(max-width:650px){
    .StickyTitle {position: fixed;top: 0;width: 100%;height: 40px;line-height: 40px;font-size: 16px;border: none;background-color: rgba(255,255,255,0.0);backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);color: #233333;font-weight: bold;text-align: center;word-spacing: 1px;z-index: 1000; }
    .StickyTitleBackground { position: fixed; top: 0; width: 100%; height: 40px; line-height: 40px; font-size: 16px; background-position: center center; background-repeat: no-repeat; background-size: auto; background: rgba(255, 255, 255, 0.99); border-bottom: 0.5px solid #dddddd; z-index: 999; }
}

/* Mobile后退按钮 */
@media(min-width:651px){ #BackButton { position: absolute; top: 20px; left: 0; } }
@media(max-width:650px){ #BackButton { float:left; position: fixed; top:0px; left:0px; width: 60px; height: 40px; padding-left:15px; text-align: left; line-height: 40px; background: none; border: none; box-shadow: none; cursor: pointer; } }

/* 菜单容器 */
@media(min-width:651px){
    .MenuContainer { width: 40px; height: 40px; top: 20px; right: 0; position: absolute; color: #222222; background-color: #ffffff; box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); transition: box-shadow 0.1s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1); border-radius: 50%; border: none; text-align: left; font-size: 13px; overflow: hidden; }
    .MenuContainer:hover, .MenuContainer:focus { box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149); }
}
@media(max-width:650px){
    .MenuContainer { height: 40px; width: 40px; position: absolute; right: 0; color: #222222; background-color: rgba(0,0,0,0); border: none; border-radius: 20px; text-align: left; font-size: 13px; overflow: hidden; }
}

/* 菜单内容容器 */
@media(min-width:651px){
    .MenuContentContainer { height: 520px; overflow:auto; }
}
@media(max-width:650px){
    .MenuContentContainer { height: calc(100% - 80px); overflow:auto; }
}

/* 菜单内容容器的滚动条 */
.MenuContentContainer::-webkit-scrollbar { width: 5px; }
.MenuContentContainer::-webkit-scrollbar-thumb { border-radius: 10px; background: #e0e0e0; }
.MenuContentContainer::-webkit-scrollbar-track { border-radius: 0; background: #f5f5f5; }

/* 菜单按钮 */
@media(min-width:651px){
    .MenuButton { position: absolute; top: 0; right: 0; font-family: "Material Icons"; font-size: 20px; width: 40px; height: 40px; color: #666; background-color: #fff; transition: 0.1s linear; border-radius: 50%; border: none; line-height: 40px; text-align: center; cursor: pointer; }
    .MenuButton:hover { background-color: #f0f0f0; }
}
@media(max-width:650px){
    .MenuButton { position: absolute; top: 0; right: 0; margin: 0 0 auto auto; width: 40px; height: 40px; font-family: "Material Icons"; font-size: 23px; color: #222222; background: none; border: none; line-height: 40px; text-align: center; cursor: pointer; }
}

/* 菜单内部的导航栏 */
.StickyNavbar { position: sticky; position: -webkit-sticky; height: 80px; top: 0; margin: 0 0 0 0; text-align: center; vertical-align: -webkit-baseline-middle; color: #566666; background-color: #ffffff; font-size: 14px; z-index: 1001; }
@media(max-width:650px){
    .StickyNavbar { background: none; }
}

/* 目录UL样式 */
.ContentsList { display: block; margin: 20px 0 20px 20px; color: #222222; padding-left: 2em; text-indent: 0; font-size: 14px; line-height: 24px; word-wrap:break-word; z-index: 100; }
.ContentsListItem { padding-left: 20px; text-indent: 0; font-size: 14px; margin-top: 0px; margin-bottom: 0px; display: block; line-height: 26px; font-weight: inherit; word-wrap: break-word; list-style-type: square; color: #333333; }
.ContentsItem { cursor: pointer; }
.ContentsItem:hover { text-decoration: underline; }
.ContentsItemActive { color: #00aaff; }


/****************************************/
/*  关 于 页 样 式 */
/****************************************/



/****************************************/
/*  公 用 样 式 */
/****************************************/

.SectionHeader { text-align: center; font-size: 17px; letter-spacing: 2px; color: #1ea0f0; margin: 30px 0; padding: 12px 0; background: linear-gradient(90deg, #ffffff, #eff9ff, #ffffff); }
.SectionSubHeader { font-size: 15px; text-align: center; font-weight: bold; margin: 30px auto 10px auto; width: fit-content; border-bottom: 2px solid #cceeff; }
.SectionHeaderComment { font-size: 13px;  letter-spacing: 0px; font-weight: normal; color: #aaa; padding-top: 5px; font-variant-caps: small-caps;}
.SectionBody { font-size: 14px; line-height: 25px; text-align: center; margin: 10px 0; color: #333; font-weight: normal; }
.SectionBody a { text-decoration: none; color: #222222; }
.Link { text-decoration: none; color: #222222; border-bottom: 1px dotted #222; cursor: pointer; }
.Link:hover { color: #0066dd; text-decoration: none; border-bottom: 1px solid #0066dd; }

/* 通用表格矩阵 */
.Matrix { width: 100%; table-layout:fixed;}
.Matrix td { text-align: center; padding: 3px 0; }
.Matrix td:first-child { padding-right: 10px; text-align: right;}
.Matrix td:last-child { padding-left: 10px; text-align: left;}

/* 斜线分隔符 */
.Separator { color: #bababa; margin: 0 10px 0 10px;}

.Button {
    color: #333333;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}

.Button:hover  { color: #1ea0f0; background-color: #eff9ff; }

.Button_Gray   { color: #888888; }
.Button_Red    { color: #ff8080; }
.Button_Orange { color: #ffa600; }
.Button_Yellow { color: #ebc000; }
.Button_Green  { color: #27b300; }
.Button_Cyan   { color: #1ea0f0; }
.Button_Blue   { color: #7a80ff; }
.Button_Violet { color: #c567ff; }

.Button_Gray:hover   { color: #888888; background-color: #f2f2f2; /*border: 1px solid #aaaaaa;*/ }
.Button_Red:hover    { color: #ff8080; background-color: #fff0f0; /*border: 1px solid #ff8080;*/ }
.Button_Orange:hover { color: #ffa600; background-color: #fff5e2; /*border: 1px solid #ffa600;*/ }
.Button_Yellow:hover { color: #ebc000; background-color: #fffec1; /*border: 1px solid #ebc000;*/ }
.Button_Green:hover  { color: #27b300; background-color: #e4fddd; /*border: 1px solid #27b300;*/ }
.Button_Cyan:hover   { color: #1ea0f0; background-color: #eff9ff; /*border: 1px solid #00a6e2;*/ }
.Button_Blue:hover   { color: #7a80ff; background-color: #f0f1ff; /*border: 1px solid #7a80ff;*/ }
.Button_Violet:hover { color: #c567ff; background-color: #faf1ff; /*border: 1px solid #c567ff;*/ }


